docs/MiniCallcenterSimulator.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://a-herzog.github.io" xmlns="https://a-herzog.github.io" elementFormDefault="qualified">

<!-- Beschreibung der Modell-Dateien -->

<xs:element name="Modell"><xs:complexType>
  <xs:sequence>
    <xs:element name="ModellVersion" type="xs:string"/>
    <xs:element name="ModellName" type="xs:string"/>
    <xs:element name="ModellBeschreibung" type="xs:string"/>
    <xs:element name="ModellZwischenankunftszeiten" type="xs:string"/>
    <xs:element name="ModellBatchAnkuenfte" type="xs:string"/>
    <xs:element name="ModellWartezeittoleranzen" type="xs:string"/>
    <xs:element name="ModellBedienzeiten" type="xs:string"/>
	<xs:element name="ModellNachbearbeitungszeiten" type="xs:string"/>
    <xs:element name="ModellBatchBedienungen" type="xs:string"/>
	<xs:element name="ModellBedienreihenfolge" type="xs:string"/>
    <xs:element name="ModellWiederholabstaende" type="xs:string"/>
    <xs:element name="ModellAgentenanzahl" type="xs:string"/>
    <xs:element name="ModellWeiterleitungswahrscheinlichkeit" type="xs:string"/>
    <xs:element name="ModellWiederholwahrscheinlichkeit" type="xs:string"/>
    <xs:element name="ModellSimulierteKunden" type="xs:string"/>
    <xs:element name="ModellWarteramgroesse" type="xs:string"/>
	<xs:element name="ModellAutokorrelation" type="xs:string"/>
  </xs:sequence>
</xs:complexType></xs:element>

<!-- Beschreibung der Statistik-Dateien -->

<xs:element name="Statistik"><xs:complexType>
  <xs:sequence>
    <xs:element ref="Modell"/>
    <xs:element ref="StatistikSimulation"/>
    <xs:element ref="StatistikErstanrufer"/>
    <xs:element ref="StatistikAnrufeMussWarten"/>
    <xs:element ref="StatistikAnrufeAbgewiesen"/>
    <xs:element ref="StatistikAnrufeErfolgreich"/>
    <xs:element ref="StatistikAnrufeWeitergeleitet"/>
    <xs:element ref="StatistikAnrufeWiederholung"/>
    <xs:element ref="StatistikAnrufeServiceLevel"/>
    <xs:element ref="StatistikZwischenankunftszeiten"/>
    <xs:element ref="StatistikZwischenabgangszeiten"/>
    <xs:element ref="StatistikWartezeitenAlle"/>
    <xs:element ref="StatistikWartezeitenErfolg"/>
    <xs:element ref="StatistikWartezeitenAbbruch"/>
    <xs:element ref="StatistikBedienzeiten"/>
	<xs:element ref="StatistikNachbearbeitungszeiten"/>
    <xs:element ref="StatistikVerweilzeitenAlle"/>
    <xs:element ref="StatistikVerweilzeitenErfolg"/>
    <xs:element ref="StatistikAgentenLeerlauf"/>
    <xs:element ref="StatistikAgentenAusgelastet"/>
    <xs:element ref="StatistikWarteschlange"/>
    <xs:element ref="StatistikKundenImSystem"/>
  </xs:sequence>
</xs:complexType></xs:element>

<xs:element name="StatistikSimulation"><xs:complexType>
  <xs:sequence>
    <xs:element name="StatistikLaufdatum" type="xs:string"/>
    <xs:element name="StatistikLaufzeit" type="xs:string"/>
    <xs:element name="StatistikSystem" type="xs:string"/>
    <xs:element name="StatistikNutzer" type="xs:string"/>
    <xs:element name="StatistikThreads" type="xs:string"/>
    <xs:element name="StatistikEreignisse" type="xs:string"/>
  </xs:sequence>
</xs:complexType></xs:element>

<xs:element name="StatistikErstanrufer"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikAnrufeMussWarten"><xs:complexType>
  <xs:attribute name="AnteilErfolg" type="xs:string" use="required"/>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="AnzahlErfolg" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikAnrufeAbgewiesen"><xs:complexType>
  <xs:attribute name="AnteilErfolg" type="xs:string" use="required"/>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="AnzahlErfolg" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikAnrufeErfolgreich"><xs:complexType>
  <xs:attribute name="AnteilErfolg" type="xs:string" use="required"/>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="AnzahlErfolg" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikAnrufeWeitergeleitet"><xs:complexType>
  <xs:attribute name="AnteilErfolg" type="xs:string" use="required"/>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="AnzahlErfolg" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikAnrufeWiederholung"><xs:complexType>
  <xs:attribute name="AnteilErfolg" type="xs:string" use="required"/>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="AnzahlErfolg" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikAnrufeServiceLevel"><xs:complexType>
  <xs:attribute name="AnteilErfolg" type="xs:string" use="required"/>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="AnzahlErfolg" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikZwischenankunftszeiten"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikZwischenabgangszeiten"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikWartezeitenAlle"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikWartezeitenErfolg"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikWartezeitenAbbruch"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikBedienzeiten"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikNachbearbeitungszeiten"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikVerweilzeitenAlle"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikVerweilzeitenErfolg"><xs:complexType>
  <xs:attribute name="Anzahl" type="xs:string" use="required"/>
  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
  <xs:attribute name="Standardabweichung" type="xs:string" use="required"/>
  <xs:attribute name="Summe" type="xs:string" use="required"/>
  <xs:attribute name="Summe2" type="xs:string" use="required"/>
  <xs:attribute name="Variationskoeffizient" type="xs:string" use="required"/>
  <xs:attribute name="Verteilung" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatistikAgentenLeerlauf"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
	  <xs:attribute name="Summe" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

<xs:element name="StatistikAgentenAusgelastet"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
	  <xs:attribute name="Summe" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

<xs:element name="StatistikWarteschlange"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
	  <xs:attribute name="Summe" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

<xs:element name="StatistikKundenImSystem"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mittelwert" type="xs:string" use="required"/>
	  <xs:attribute name="Summe" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

<!-- Description of the model files -->

<xs:element name="Model"><xs:complexType>
  <xs:sequence>
    <xs:element name="ModelVersion" type="xs:string"/>
    <xs:element name="ModelName" type="xs:string"/>
    <xs:element name="ModelDescription" type="xs:string"/>
    <xs:element name="ModelInterArrivalTimes" type="xs:string"/>
    <xs:element name="ModelBatchArrival" type="xs:string"/>
    <xs:element name="ModelWaitingTimeTolerances" type="xs:string"/>
    <xs:element name="ModelServiceTimes" type="xs:string"/>
	<xs:element name="ModelPostProcessingTimes" type="xs:string"/>
    <xs:element name="ModelBatchService" type="xs:string"/>
	<xs:element name="ModelQueueMode" type="xs:string"/>
    <xs:element name="ModelRetryDistances" type="xs:string"/>
    <xs:element name="ModelNumberOfAgents" type="xs:string"/>
    <xs:element name="ModelForwardingProbability" type="xs:string"/>
    <xs:element name="ModelRetryProbability" type="xs:string"/>
    <xs:element name="ModelClientsToSimulate" type="xs:string"/>
    <xs:element name="ModelWaitingRoomSize" type="xs:string"/>
	<xs:element name="ModelAutocorrelation" type="xs:string"/>	
  </xs:sequence>
</xs:complexType></xs:element>

<!-- Description of the statistics files -->

<xs:element name="Statistics"><xs:complexType>
  <xs:sequence>
    <xs:element ref="Model"/>
    <xs:element ref="StatisticsSimulation"/>
    <xs:element ref="StatisticsFreshCalls"/>
    <xs:element ref="StatisticsCallsNeedToWait"/>
    <xs:element ref="StatisticsCallsRejected"/>
    <xs:element ref="StatisticsCallsSuccessful"/>
    <xs:element ref="StatisticsCallsForwarded"/>
    <xs:element ref="StatisticsCallsRetry"/>
    <xs:element ref="StatisticsCallsServiceLevel"/>
    <xs:element ref="StatisticsInterArrivalTimes"/>
    <xs:element ref="StatisticsInterLeaveTimes"/>
    <xs:element ref="StatisticsWaitingTimesAll"/>
    <xs:element ref="StatisticsWaitingTimesSuccessful"/>
    <xs:element ref="StatisticsWaitingTimesCancel"/>
    <xs:element ref="StatisticsServiceTimes"/>
	<xs:element ref="StatisticsPostProcessingTimes"/>
    <xs:element ref="StatisticsResidenceTimesAll"/>
    <xs:element ref="StatisticsResidenceTimesSuccessful"/>
    <xs:element ref="StatisticsAgentsIdle"/>
    <xs:element ref="StatisticsAgentsBusy"/>
    <xs:element ref="StatisticsQueueLength"/>
    <xs:element ref="StatisticsClientsInSystem"/>
  </xs:sequence>
</xs:complexType></xs:element>

<xs:element name="StatisticsSimulation"><xs:complexType>
  <xs:sequence>
    <xs:element name="StatisticsRunDate" type="xs:string"/>
    <xs:element name="StatisticsRunTime" type="xs:string"/>
    <xs:element name="StatisticsSystem" type="xs:string"/>
    <xs:element name="StatisticsUser" type="xs:string"/>
    <xs:element name="StatisticsThreads" type="xs:string"/>
    <xs:element name="StatisticsEvents" type="xs:string"/>
  </xs:sequence>
</xs:complexType></xs:element>

<xs:element name="StatisticsFreshCalls"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsCallsNeedToWait"><xs:complexType>
  <xs:attribute name="PartSuccess" type="xs:string" use="required"/>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="CountSuccess" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsCallsRejected"><xs:complexType>
  <xs:attribute name="PartSuccess" type="xs:string" use="required"/>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="CountSuccess" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsCallsSuccessful"><xs:complexType>
  <xs:attribute name="PartSuccess" type="xs:string" use="required"/>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="CountSuccess" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsCallsForwarded"><xs:complexType>
  <xs:attribute name="PartSuccess" type="xs:string" use="required"/>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="CountSuccess" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsCallsRetry"><xs:complexType>
  <xs:attribute name="PartSuccess" type="xs:string" use="required"/>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="CountSuccess" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsCallsServiceLevel"><xs:complexType>
  <xs:attribute name="PartSuccess" type="xs:string" use="required"/>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="CountSuccess" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsInterArrivalTimes"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsInterLeaveTimes"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsWaitingTimesAll"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsWaitingTimesSuccessful"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsWaitingTimesCancel"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsServiceTimes"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsPostProcessingTimes"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsResidenceTimesAll"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsResidenceTimesSuccessful"><xs:complexType>
  <xs:attribute name="Count" type="xs:string" use="required"/>
  <xs:attribute name="Mean" type="xs:string" use="required"/>
  <xs:attribute name="StandardDeviation" type="xs:string" use="required"/>
  <xs:attribute name="Sum" type="xs:string" use="required"/>
  <xs:attribute name="Sum2" type="xs:string" use="required"/>
  <xs:attribute name="CoefficientOfVariation" type="xs:string" use="required"/>
  <xs:attribute name="Distribution" type="xs:string" use="required"/>
</xs:complexType></xs:element>

<xs:element name="StatisticsAgentsIdle"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mean" type="xs:string" use="required"/>
	  <xs:attribute name="Sum" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

<xs:element name="StatisticsAgentsBusy"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mean" type="xs:string" use="required"/>
	  <xs:attribute name="Sum" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

<xs:element name="StatisticsQueueLength"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mean" type="xs:string" use="required"/>
	  <xs:attribute name="Sum" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

<xs:element name="StatisticsClientsInSystem"><xs:complexType>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="Maximum" type="xs:string" use="required"/>
	  <xs:attribute name="Minimum" type="xs:string" use="required"/>
	  <xs:attribute name="Mean" type="xs:string" use="required"/>
	  <xs:attribute name="Sum" type="xs:string" use="required"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType></xs:element>

</xs:schema>