docs/MiniCallcenterSimulator.dtd

<!-- Beschreibung der Modell-Dateien -->

<!ELEMENT Modell (ModellVersion, ModellName, ModellBeschreibung, ModellZwischenankunftszeiten, ModellBatchAnkuenfte*, ModellWartezeittoleranzen, ModellBedienzeiten, ModellNachbearbeitungszeiten*, ModellBatchBedienungen*, ModellWiederholabstaende, ModellAgentenanzahl, ModellWeiterleitungswahrscheinlichkeit, ModellWiederholwahrscheinlichkeit, ModellSimulierteKunden, ModellWarteramgroesse, ModellAutokorrelation)>

<!ELEMENT ModellVersion (#PCDATA)>
<!ELEMENT ModellName (#PCDATA)>
<!ELEMENT ModellBeschreibung (#PCDATA)>
<!ELEMENT ModellZwischenankunftszeiten (#PCDATA)>
<!ELEMENT ModellBatchAnkuenfte (#PCDATA)>
<!ELEMENT ModellWartezeittoleranzen (#PCDATA)>
<!ELEMENT ModellBedienzeiten (#PCDATA)>
<!ELEMENT ModellNachbearbeitungszeiten (#PCDATA)>
<!ELEMENT ModellBatchBedienungen (#PCDATA)>
<!ELEMENT ModellBedienreihenfolge (#PCDATA)>
<!ELEMENT ModellWiederholabstaende (#PCDATA)>
<!ELEMENT ModellAgentenanzahl (#PCDATA)>
<!ELEMENT ModellWeiterleitungswahrscheinlichkeit (#PCDATA)>
<!ELEMENT ModellWiederholwahrscheinlichkeit (#PCDATA)>
<!ELEMENT ModellSimulierteKunden (#PCDATA)>
<!ELEMENT ModellWarteramgroesse (#PCDATA)>
<!ELEMENT ModellAutokorrelation (#PCDATA)>

<!-- Beschreibung der Statistik-Dateien -->

<!ELEMENT Statistik (Modell, StatistikSimulation, StatistikErstanrufer, StatistikAnrufeMussWarten, StatistikAnrufeAbgewiesen, StatistikAnrufeErfolgreich, StatistikAnrufeWeitergeleitet, StatistikAnrufeWiederholung, StatistikAnrufeServiceLevel, StatistikZwischenankunftszeiten, StatistikZwischenabgangszeiten, StatistikWartezeitenAlle, StatistikWartezeitenErfolg, StatistikWartezeitenAbbruch, StatistikBedienzeiten, StatistikNachbearbeitungszeiten*, StatistikVerweilzeitenAlle, StatistikVerweilzeitenErfolg, StatistikAgentenLeerlauf, StatistikAgentenAusgelastet, StatistikWarteschlange, StatistikKundenImSystem)>

<!ELEMENT StatistikSimulation (StatistikLaufdatum, StatistikLaufzeit, StatistikSystem, StatistikNutzer, StatistikThreads, StatistikEreignisse)>

<!ELEMENT StatistikLaufdatum (#PCDATA)>
<!ELEMENT StatistikLaufzeit (#PCDATA)>
<!ELEMENT StatistikSystem (#PCDATA)>
<!ELEMENT StatistikNutzer (#PCDATA)>
<!ELEMENT StatistikThreads (#PCDATA)>
<!ELEMENT StatistikEreignisse (#PCDATA)>

<!ELEMENT StatistikErstanrufer EMPTY>
<!ATTLIST StatistikErstanrufer
	Anzahl	 CDATA #REQUIRED
>

<!ELEMENT StatistikAnrufeMussWarten EMPTY>
<!ATTLIST StatistikAnrufeMussWarten
	AnteilErfolg	 CDATA #REQUIRED
	Anzahl	 CDATA #REQUIRED
	AnzahlErfolg	 CDATA #REQUIRED
>

<!ELEMENT StatistikAnrufeAbgewiesen EMPTY>
<!ATTLIST StatistikAnrufeAbgewiesen
	AnteilErfolg	 CDATA #REQUIRED
	Anzahl	 CDATA #REQUIRED
	AnzahlErfolg	 CDATA #REQUIRED
>

<!ELEMENT StatistikAnrufeErfolgreich EMPTY>
<!ATTLIST StatistikAnrufeErfolgreich
	AnteilErfolg	 CDATA #REQUIRED
	Anzahl	 CDATA #REQUIRED
	AnzahlErfolg	 CDATA #REQUIRED
>

<!ELEMENT StatistikAnrufeWeitergeleitet EMPTY>
<!ATTLIST StatistikAnrufeWeitergeleitet
	AnteilErfolg	 CDATA #REQUIRED
	Anzahl	 CDATA #REQUIRED
	AnzahlErfolg	 CDATA #REQUIRED
>

<!ELEMENT StatistikAnrufeWiederholung EMPTY>
<!ATTLIST StatistikAnrufeWiederholung
	AnteilErfolg	 CDATA #REQUIRED
	Anzahl	 CDATA #REQUIRED
	AnzahlErfolg	 CDATA #REQUIRED
>

<!ELEMENT StatistikAnrufeServiceLevel EMPTY>
<!ATTLIST StatistikAnrufeServiceLevel
	AnteilErfolg	 CDATA #REQUIRED
	Anzahl	 CDATA #REQUIRED
	AnzahlErfolg	 CDATA #REQUIRED
>

<!ELEMENT StatistikZwischenankunftszeiten EMPTY>
<!ATTLIST StatistikZwischenankunftszeiten
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikZwischenabgangszeiten EMPTY>
<!ATTLIST StatistikZwischenabgangszeiten
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikWartezeitenAlle EMPTY>
<!ATTLIST StatistikWartezeitenAlle
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikWartezeitenErfolg EMPTY>
<!ATTLIST StatistikWartezeitenErfolg
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikWartezeitenAbbruch EMPTY>
<!ATTLIST StatistikWartezeitenAbbruch
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikBedienzeiten EMPTY>
<!ATTLIST StatistikBedienzeiten
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikNachbearbeitungszeiten EMPTY>
<!ATTLIST StatistikNachbearbeitungszeiten
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikVerweilzeitenAlle EMPTY>
<!ATTLIST StatistikVerweilzeitenAlle
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikVerweilzeitenErfolg EMPTY>
<!ATTLIST StatistikVerweilzeitenErfolg
	Anzahl	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Standardabweichung	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
	Summe2	 CDATA #REQUIRED
	Variationskoeffizient	 CDATA #REQUIRED
	Verteilung	 CDATA #REQUIRED
>

<!ELEMENT StatistikAgentenLeerlauf (#PCDATA)>
<!ATTLIST StatistikAgentenLeerlauf
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
>

<!ELEMENT StatistikAgentenAusgelastet (#PCDATA)>
<!ATTLIST StatistikAgentenAusgelastet
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
>

<!ELEMENT StatistikWarteschlange (#PCDATA)>
<!ATTLIST StatistikWarteschlange
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
>
<!ELEMENT StatistikKundenImSystem (#PCDATA)>
<!ATTLIST StatistikKundenImSystem
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mittelwert	 CDATA #REQUIRED
	Summe	 CDATA #REQUIRED
>

<!-- Description of the model files -->

<!ELEMENT Model (ModelVersion, ModelName, ModelDescription, ModelInterArrivalTimes, ModelBatchArrival*, ModelWaitingTimeTolerances, ModelServiceTimes, ModelPostProcessingTimes*, ModelBatchService*, ModelRetryDistances, ModelNumberOfAgents, ModelForwardingProbability, ModelRetryProbability, ModelClientsToSimulate, ModelWaitingRoomSize, ModelAutocorrelation)>

<!ELEMENT ModelVersion (#PCDATA)>
<!ELEMENT ModelName (#PCDATA)>
<!ELEMENT ModelDescription (#PCDATA)>
<!ELEMENT ModelInterArrivalTimes (#PCDATA)>
<!ELEMENT ModelBatchArrival (#PCDATA)>
<!ELEMENT ModelWaitingTimeTolerances (#PCDATA)>
<!ELEMENT ModelServiceTimes (#PCDATA)>
<!ELEMENT ModelPostProcessingTimes (#PCDATA)>
<!ELEMENT ModelBatchService (#PCDATA)>
<!ELEMENT ModelQueueMode (#PCDATA)>
<!ELEMENT ModelRetryDistances (#PCDATA)>
<!ELEMENT ModelNumberOfAgents (#PCDATA)>
<!ELEMENT ModelForwardingProbability (#PCDATA)>
<!ELEMENT ModelRetryProbability (#PCDATA)>
<!ELEMENT ModelClientsToSimulate (#PCDATA)>
<!ELEMENT ModelWaitingRoomSize (#PCDATA)>
<!ELEMENT ModelAutocorrelation (#PCDATA)>

<!-- Description of the statistics files -->

<!ELEMENT Statistics (Model, StatisticsSimulation, StatisticsFreshCalls, StatisticsCallsNeedToWait, StatisticsCallsRejected, StatisticsCallsSuccessful, StatisticsCallsForwarded, StatisticsCallsRetry, StatisticsCallsServiceLevel, StatisticsInterArrivalTimes, StatisticsInterLeaveTimes, StatisticsWaitingTimesAll, StatisticsWaitingTimesSuccessful, StatisticsWaitingTimesCancel, StatisticsServiceTimes, StatisticsPostProcessingTimes*, StatisticsResidenceTimesAll, StatisticsResidenceTimesSuccessful, StatisticsAgentsIdle, StatisticsAgentsBusy, StatisticsQueueLength, StatisticsClientsInSystem)>

<!ELEMENT StatisticsSimulation (StatisticsRunDate, StatisticsRunTime, StatisticsSystem, StatisticsUser, StatisticsThreads, StatisticsEvents)>

<!ELEMENT StatisticsRunDate (#PCDATA)>
<!ELEMENT StatisticsRunTime (#PCDATA)>
<!ELEMENT StatisticsSystem (#PCDATA)>
<!ELEMENT StatisticsUser (#PCDATA)>
<!ELEMENT StatisticsThreads (#PCDATA)>
<!ELEMENT StatisticsEvents (#PCDATA)>

<!ELEMENT StatisticsFreshCalls EMPTY>
<!ATTLIST StatisticsFreshCalls
	Count	 CDATA #REQUIRED
>

<!ELEMENT StatisticsCallsNeedToWait EMPTY>
<!ATTLIST StatisticsCallsNeedToWait
	PartSuccess	 CDATA #REQUIRED
	Count	 CDATA #REQUIRED
	CountSuccess	 CDATA #REQUIRED
>

<!ELEMENT StatisticsCallsRejected EMPTY>
<!ATTLIST StatisticsCallsRejected
	PartSuccess	 CDATA #REQUIRED
	Count	 CDATA #REQUIRED
	CountSuccess	 CDATA #REQUIRED
>

<!ELEMENT StatisticsCallsSuccessful EMPTY>
<!ATTLIST StatisticsCallsSuccessful
	PartSuccess	 CDATA #REQUIRED
	Count	 CDATA #REQUIRED
	CountSuccess	 CDATA #REQUIRED
>

<!ELEMENT StatisticsCallsForwarded EMPTY>
<!ATTLIST StatisticsCallsForwarded
	PartSuccess	 CDATA #REQUIRED
	Count	 CDATA #REQUIRED
	CountSuccess	 CDATA #REQUIRED
>

<!ELEMENT StatisticsCallsRetry EMPTY>
<!ATTLIST StatisticsCallsRetry
	PartSuccess	 CDATA #REQUIRED
	Count	 CDATA #REQUIRED
	CountSuccess	 CDATA #REQUIRED
>

<!ELEMENT StatisticsCallsServiceLevel EMPTY>
<!ATTLIST StatisticsCallsServiceLevel
	PartSuccess	 CDATA #REQUIRED
	Count	 CDATA #REQUIRED
	CountSuccess	 CDATA #REQUIRED
>

<!ELEMENT StatisticsInterArrivalTimes EMPTY>
<!ATTLIST StatisticsInterArrivalTimes
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsInterLeaveTimes EMPTY>
<!ATTLIST StatisticsInterLeaveTimes
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsWaitingTimesAll EMPTY>
<!ATTLIST StatisticsWaitingTimesAll
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsWaitingTimesSuccessful EMPTY>
<!ATTLIST StatisticsWaitingTimesSuccessful
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsWaitingTimesCancel EMPTY>
<!ATTLIST StatisticsWaitingTimesCancel
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsServiceTimes EMPTY>
<!ATTLIST StatisticsServiceTimes
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsPostProcessingTimes EMPTY>
<!ATTLIST StatisticsPostProcessingTimes
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsResidenceTimesAll EMPTY>
<!ATTLIST StatisticsResidenceTimesAll
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsResidenceTimesSuccessful EMPTY>
<!ATTLIST StatisticsResidenceTimesSuccessful
	Count	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	StandardDeviation	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
	Sum2	 CDATA #REQUIRED
	CoefficientOfVariation	 CDATA #REQUIRED
	Distribution	 CDATA #REQUIRED
>

<!ELEMENT StatisticsAgentsIdle (#PCDATA)>
<!ATTLIST StatisticsAgentsIdle
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
>

<!ELEMENT StatisticsAgentsBusy (#PCDATA)>
<!ATTLIST StatisticsAgentsBusy
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
>

<!ELEMENT StatisticsQueueLength (#PCDATA)>
<!ATTLIST StatisticsQueueLength
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
>
<!ELEMENT StatisticsClientsInSystem (#PCDATA)>
<!ATTLIST StatisticsClientsInSystem
	Maximum	 CDATA #REQUIRED
	Minimum	 CDATA #REQUIRED
	Mean	 CDATA #REQUIRED
	Sum	 CDATA #REQUIRED
>